@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');

@import "tailwindcss";

:root {
    --blue: #2B2D42;
    --blue-light: #3f425e;
    --blue-lighter: #3f425e;
    --white: #FFFFFF;
    --gray: #8D99AE;
    --light-gray: #EDF2F4;
    --red: #EF233C;
    --green: #2A9D8F;
    --bg-color: #656f81;
    --sidebar-font: #cdc6be;
}

* {
    font-family: 'SN Pro', sans-serif;
}